
.devices-table {
    width: 100%;
  }

.device-enabled {
    color: blue; 
}

.device-disabled {
    color: red; 
}

.devices-table th {
    background-color: #7385d3;
}
  
.devices-table tr:nth-of-type(even) {
      background-color: #f3f3f3;
}

.mat-row:hover {
    background-color:lightcyan;
}