
.video-tag { 
    height: 100%; 
    width: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    
}

.selected-device-lable {
    color: white;
    background-color: rgb(75, 75, 75);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 2px;
}