.recordings-table {
    width: 100%;
}

.recordings-table th {
  background-color: #7385d3;
}

.recordings-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.mat-row:hover {
    background-color:lightcyan;
}

tr.detail-row {
    height: 0;
}

.expended-recording-content {
    overflow: hidden;
    display: flex;
}

.entries-table {
    width: 100%;
    margin: 20px;
    border: 1px solid;
}

.entries-table th {
    padding: 10px;
    background-color: #7385d3;
}

.entries-table td {
    padding: 10px;
    background-color: #f3f3f3;
}

.entries-table tr:nth-of-type(even) {
      background-color: #f3f3f3;
}