.device-page-header {
    padding: 20px;
    background-color: #3f51b5;
    color: white;
}

mat-sidenav-container {
    height: calc(100vh - 54px - 64px);
}

.device-sidenav {
    width: 204px;
    margin: 0;
    height: 100%;
    background-color: #f2f2f2;
}

mat-sidenav-content {
    box-sizing: border-box;
    padding: 20px;
}

.route-active {
    color: #3f51b5;
    background-color: #dbdbdb;
}

.nav-list-item:hover {
    background-color: #dbdbdb;
    color:#1976d2;
}



