.recordings-table {
    width: 100%;
}

.recordings-table th {
  background-color: #7385d3;
}

.recordings-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.mat-row:hover {
    background-color:lightcyan;
}