<h3>Register New Camera</h3>

<form>
    <mat-form-field class="input-full-width"  hintLabel="Max 30 characters" appearance="fill">
        <mat-label>Camera Name</mat-label>
        <input matInput #cameraNameInput maxlength="30" placeholder="Name this camera" [formControl]="cameraNameFC">
        <mat-hint align="end">{{cameraNameInput.value!.length || 0}}/30</mat-hint>
    </mat-form-field>
    
    <mat-form-field class="input-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput #cameraDescriptionInput placeholder="Add optional description" [formControl]="descriptionFC">
    </mat-form-field>
        
    <mat-form-field appearance="fill">
        <mat-label>Frame Rate</mat-label>
        <input matInput placeholder="Frame Rate in FPS" type="number" [formControl]="frameRateFC">
    </mat-form-field>

    <br>

    <mat-form-field  appearance="fill">
        <mat-label>Resolution-X</mat-label>
        <input matInput placeholder="Resolution-X" type="number" [formControl]="resolutionXFC">
    </mat-form-field>

    <mat-form-field  appearance="fill" style="margin-left: 10px;">
        <mat-label>Resolution-Y</mat-label>
        <input matInput placeholder="Resolution-Y" type="number" [formControl]="resolutionYFC">
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
        <mat-label>FOV-X</mat-label>
        <input matInput placeholder="FOV-X" type="number" [formControl]="fovXFC">
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 10px;">
        <mat-label>FOV-Y</mat-label>
        <input matInput placeholder="FOV-Y" type="number" [formControl]="fovYFC">
    </mat-form-field>

    <mat-form-field class="input-full-width" appearance="fill">
        <mat-label>Camera address (RTSP)</mat-label>
        <input matInput #rtspUrlInput placeholder="Enter URL in RTSP format" [formControl]="rtspUrlFC">
    </mat-form-field>
</form>

<button mat-raised-button color="primary" (click)="testConnectionClicked()">Test Connection</button> {{testConnectionStatus}}


<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onRegisterClicked()" cdkFocusInitial>Register</button>
    <button mat-raised-button (click)="onCancelClicked()">Cancel</button>
</div>