<h3>Register New Device</h3>
<p>
    Register a new radar device.<br> 
    Make sure that the radar is connected to the network and listed in the <a routerLink="/device-mapping">Device-Mapping</a> page.<br>
</p>
<br>
<form class="new-device-form">
    <mat-form-field class="new-device-full-width"  hintLabel="Max 30 characters" appearance="fill">
      <mat-label>Radar Name</mat-label>
      <input matInput #radarNameInput maxlength="30" placeholder="Name this device" value="">
      <mat-hint align="end">{{radarNameInput.value!.length || 0}}/30</mat-hint>
    </mat-form-field>
  
    <mat-form-field class="new-device-full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput maxlength="400" placeholder="Add optional description"></textarea>
    </mat-form-field>

    <mat-form-field class="new-device-full-width" appearance="fill">
        <mat-label>Select Radar Device</mat-label>
        <mat-select>
            <!--<mat-option *ngFor="let device of deviceList" [value]="device.device_id" [disabled]="!device.enabled">{{device.name}}{{device.enabled ? "" : " (disabled)"}}</mat-option>-->
        </mat-select>
    </mat-form-field>
</form>

<button mat-raised-button color="primary">Add Device</button>