
<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" position="end">
        <app-radar-details-info></app-radar-details-info>
    </mat-drawer>
    <mat-drawer-content>
        <div class="grid-list-wrapper">
            <mat-grid-list cols="1" rowHeight="fit">
                <mat-grid-tile *ngFor="let _ of [].constructor(windowsCount); let windowIndex = index" class="grid-tile" (contextmenu)="onRightClick($event, windowIndex)">
                    <dynamic-window [attr.id]="'window_'+ windowIndex"></dynamic-window>                  
                </mat-grid-tile>
            </mat-grid-list> 
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="selectRadarMenu">Radar View</button>
    <button mat-menu-item [matMenuTriggerFor]="selectRadarTrackerMenu">Radar Tracker</button>
    <button mat-menu-item [matMenuTriggerFor]="selectRadarHeatmapMenu">Radar Heatmap</button>
    <button mat-menu-item [matMenuTriggerFor]="selectCameraMenu">Camera View</button>
    <button mat-menu-item [matMenuTriggerFor]="selectGaitIdMenu">Gait ID</button>
    <button mat-menu-item [matMenuTriggerFor]="selectFanGesturesMenu">Smart Fan Gestures</button>
    <button mat-menu-item [matMenuTriggerFor]="selectFallDetectionMenu">Fall Detection</button>
    <button mat-menu-item [matMenuTriggerFor]="selectVitalSignsMenu">Vital Signs</button>
    <button mat-menu-item [matMenuTriggerFor]="setWindowsLayoutMenu">Set Windows Layout</button>
</mat-menu>

<mat-menu #selectRadarMenu="matMenu">
    <button *ngFor="let radar of this.tracksViewerData.radarsList" [disabled]="!radar.enabled" (click)="setRadarWindow(radar.device_id)" mat-menu-item>{{radar.name}}</button>
</mat-menu>

<mat-menu #selectRadarTrackerMenu="matMenu">
    <button *ngFor="let radar of this.tracksViewerData.radarsList" [disabled]="!radar.enabled" (click)="setRadarTrackerWindow(radar.device_id)" mat-menu-item>{{radar.name}}</button>
</mat-menu>

<mat-menu #selectRadarHeatmapMenu="matMenu">
    <button *ngFor="let radar of this.tracksViewerData.radarsList" [disabled]="!radar.enabled" (click)="setRadarHeatmapWindow(radar.device_id)" mat-menu-item>{{radar.name}}</button>
</mat-menu>

<mat-menu #selectFanGesturesMenu="matMenu">
    <button *ngFor="let radar of this.tracksViewerData.radarsList" [disabled]="!radar.enabled" (click)="setFanGesturesWindow(radar.device_id)" mat-menu-item>{{radar.name}}</button>
</mat-menu>

<mat-menu #selectGaitIdMenu="matMenu">
    <button *ngFor="let radar of this.tracksViewerData.radarsList" [disabled]="!radar.enabled" (click)="setGaitIdWindow(radar.device_id)" mat-menu-item>{{radar.name}}</button>
</mat-menu>

<mat-menu #selectFallDetectionMenu="matMenu">
    <button *ngFor="let radar of this.tracksViewerData.radarsList" [disabled]="!radar.enabled" (click)="setFallDetectionWindow(radar.device_id)" mat-menu-item>{{radar.name}}</button>
</mat-menu>

<mat-menu #selectVitalSignsMenu="matMenu">
    <button *ngFor="let radar of this.tracksViewerData.radarsList" [disabled]="!radar.enabled" (click)="setVitalSignsWindow(radar.device_id)" mat-menu-item>{{radar.name}}</button>
</mat-menu>

<mat-menu #selectCameraMenu="matMenu">
    <button *ngFor="let camera of this.tracksViewerData.camerasList" [disabled]="!camera.enabled" (click)="setCameraWindow(camera.device_id)" mat-menu-item>{{camera.name}}</button>
</mat-menu>

<mat-menu #setWindowsLayoutMenu="matMenu">
    <button mat-menu-item (click)="this.tracksViewerData.setWindowsViewLayout('1x1')">1x1</button>
    <button mat-menu-item (click)="this.tracksViewerData.setWindowsViewLayout('1x2')">1x2</button>
    <button mat-menu-item (click)="this.tracksViewerData.setWindowsViewLayout('2x2')">2x2</button>
    <button mat-menu-item (click)="this.tracksViewerData.setWindowsViewLayout('2x3')">2x3</button>
    <button mat-menu-item (click)="this.tracksViewerData.setWindowsViewLayout('3x3')">3x3</button>
    <button mat-menu-item (click)="this.tracksViewerData.setWindowsViewLayout('3x4')">3x4</button>
    <button mat-menu-item (click)="this.tracksViewerData.setWindowsViewLayout('4x4')">4x4</button>
</mat-menu>
