
.cameras-table {
    width: 100%;
  }

.cameras-table th {
    background-color: #7385d3;
}
  
.cameras-table tr:nth-of-type(even) {
      background-color: #f3f3f3;
}

.mat-row:hover {
    background-color:lightcyan;
}