<div class="page-margin">

    <h3>Registered Camera Devices</h3>

    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" class="mat-elevation-z8 cameras-table">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> <b>Name</b> </th>
            <td mat-cell *matCellDef="let element">
                <div style="display: flex; align-items: center;">
                    <mat-icon class="recording-icon" *ngIf="element.is_recording">circle</mat-icon>
                    {{element.name}}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="state">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> <b>State</b> </th>
            <td mat-cell *matCellDef="let element"> 
                <mat-chip-list>
                    <mat-chip selected color="secondary">{{element.state}}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> <b>Description</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="device_id">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> <b>Device ID</b> </th>
            <td mat-cell *matCellDef="let element"> <a [routerLink]="['/camera', element.device_id]">{{element.device_id}}</a> </td>
        </ng-container>

        <ng-container matColumnDef="enabled">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> <b>Enabled</b> </th>
            <td mat-cell *matCellDef="let element">
                <mat-chip-list>
                    <mat-chip selected *ngIf="element.enabled" color="primary">{{element.enabled}}</mat-chip>
                    <mat-chip selected *ngIf="!element.enabled" color="accent">{{element.enabled}}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/camera', row.device_id]"></tr>

    </table>

    <div *ngIf="!(camerasListLoaded | async)" style="display: flex; justify-content: center; align-items: center; background: white;">
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>

    <label *ngIf="camerasListLoaded && (dataSource.data.length == 0)"><br>There are no registered camera devices.<br></label>
    <br>

    <button mat-raised-button (click)="registerCameraClicked()" *ngIf="(camerasListLoaded | async)" color="primary">Register Camera Device</button>

</div>
