<h3>Add Template</h3>

<mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Template Name</mat-label>
    <input matInput [formControl]="nameFC">
</mat-form-field>

<mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Select Model</mat-label>
    <mat-select [formControl]="modelFC">
        <mat-option value="RAY1I">RAY1I</mat-option>
        <mat-option value="RAY1A">RAY1A</mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Select Application</mat-label>
    <mat-select [formControl]="applicationFC">
        <mat-option value="PEOPLE_TRACKING">PEOPLE_TRACKING</mat-option>
        <mat-option value="PEOPLE_TRACKING_OVERHEAD">PEOPLE_TRACKING_OVERHEAD</mat-option>
        <mat-option value="LONG_RANGE_TRACKING">LONG_RANGE_TRACKING</mat-option>
        <mat-option value="VITAL_SIGNS">VITAL_SIGNS</mat-option>
        <mat-option value="OUT_OF_BOX">OUT_OF_BOX</mat-option>
        <mat-option value="PC_RANGE_DOPPLER">PC_RANGE_DOPPLER</mat-option>
        <mat-option value="LEVEL_SENSING">LEVEL_SENSING</mat-option>
        <mat-option value="TRAFFIC_MONITORING">TRAFFIC_MONITORING</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Template Description</mat-label>
    <input matInput [formControl]="descriptionFC">
</mat-form-field>

<mat-form-field style="width: 100%; line-height: 200%;" appearance="fill">
    <mat-label>Config Script</mat-label>
    <textarea matInput style="height: 300px;" [formControl]="configScriptFC"></textarea>
</mat-form-field>

<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onSaveClicked()" cdkFocusInitial>Save</button>
    <button mat-raised-button (click)="onCancelClicked()">Cancel</button>
</div>