<h3>Device Recorder</h3>

<p>Select one or more devices to record:</p>

<div class="device-selection-wrapper">
    <mat-selection-list #radarSelectionList>
        <mat-list-option *ngFor="let radar of radars" [value]="radar.device_id" [disabled]="!radar.enabled || radar.state != 'Active'">
          {{radar.name}} {{radar.enabled ? "" : "(disabled)"}} {{radar.state == 'Active' ? "" : "(incative)"}}
        </mat-list-option>
    </mat-selection-list>
    
    <mat-selection-list #cameraSelectionList>
        <mat-list-option *ngFor="let camera of cameras" [value]="camera.device_id" [disabled]="!camera.enabled || camera.state != 'Active'">
          {{camera.name}} {{camera.enabled ? "" : "(disabled)"}} {{camera.state == 'Active' ? "" : "(incative)"}}
        </mat-list-option>
    </mat-selection-list>
</div>

<br>

<div>
    <button mat-raised-button (click)="startRecording()" color="primary" [disabled]="isTriggerButtonDisabled()">Start Recording</button>
    <button mat-raised-button (click)="stopRecording()" color="primary" [disabled]="isTriggerButtonDisabled()" style="margin-left: 10px;">Stop Recording</button>
</div>


