

.logo-image-wrapper {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0px;
  height: inherit;
  padding-left: 5px;
  padding-right: 10px;
}

.logo-image {
  max-width: 100%;
  max-height: 75%;
}

.flexExpand {
  flex: 1 1 auto;
}

.app-navbar {
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024,0 1px 18px #0000001f;

  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */

  min-height: 0px;
}