
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" style="text-decoration: none; color: inherit;"><span>{{title}}</span></a>
    <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" style="text-decoration: none; color: inherit;"><button mat-button>Home</button></a>
    <a routerLink="/devices" routerLinkActive="active" ariaCurrentWhenActive="page" style="text-decoration: none; color: inherit;"><button mat-button>Devices</button></a>
    <a routerLink="/tracks-viewer" routerLinkActive="active" ariaCurrentWhenActive="page" style="text-decoration: none; color: inherit;"><button mat-button>Tracks-Viewer</button></a>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="page-margin">
  <router-outlet></router-outlet>
</div>

<!--<app-page-tracks-viewer></app-page-tracks-viewer>-->


